extends layout

block content
  div
    .row
      .col.l4
        .card.large.hoverable
          .card-image
            img(src='images/alex.jpg', alt='Card image cap')
            .card-title Alex Dumitru
          .card-content
            p.card-text
              | Developer
          .card-action
            a(href='#') This is a link
      .col.l4
        .card.large.hoverable
          .card-image
            img(src='images/alex.jpg', alt='Card image cap')
            .card-title Alex Dumitru
          .card-content
            p.card-text
              | Developer
          .card-action
            a(href='#') This is a link
