<% include ./header %>

<div class="container">
<h2>About the project</h3>

    <img style="float: right; max-height:100px;" src="/images/politehnica.png">
    <p>
        <strong>Mecanica unei mașini în mișcare</strong> <em>(Mechanics of a moving car)</em> is a project developed during the <em>Session of Scientific Communications</em> of the "POLITEHNICA" University of Bucharest
        in 2016.
    </p>
    <p>
        It was awarded <strong>2nd place</strong>.
    </p>

    <h3>Team</h3>

    <p>The team was composed of three students from the Faculty of Automatic Control and Computers, studying in their first year, following the course specializaton Automatics and Applied Computer Science.</p>
    <ul>
        <li>Alex Dumitru</li>
        <li>Andrei Toșu</li>
        <li>Ingrid Axinte</li>
    </ul>
        <em>Coordinating Professor Andrei Craifaleanu</em>


    <h3>Animation</h3>
    <p>The project is about simulating a 2d animation of a car moving up an inclined plane.</p>
    <p>There are multiple physics parameters which can be adjusted, and at the end of the animation (when the car reaches the "floor") two charts appear:</p>
    <ul>
        <li>History of <em>y</em> with respect to time</li>
        <li>History of <em>θ</em> (rotation) with respect to time</li>        
    </ul>

    <h3>Implementation details</h3>
    <p>This application smulates a 2D vector space, in which the car is affected by forces (acceleration, gravity, normal forces, friction and drag).</p>
    <p>The plausibility of the animation demonstrates how physics and mathematics concepts can be applied to develop engineering models which emulate reality closely.</p>
    
</div>

<% include ./footer %>