<% include ./header %>

<div class="container">
<h2>Despre proiect</h3>

    <p>
        <strong>Mecanica unei mașini în mișcare</strong> este un proiect realizat în cadrul <em>Sesiunii Cercetării Studențești</em> al Universității Politehnice București
        în anul 2016.
    </p>
    <p>
        Acesta a fost premiat  cu <strong>Locul II</strong>.
    </p>

    <h3>Echipa</h3>

    <p>Echipa a fost formată din trei studenți din cadrul Facultății de Automatică și Calculatoare, aflați în anul I de studiu, urmând specializarea Automatică și Informatică Aplicată.</p>
    <ul>
        <li>Alex Dumitru</li>
        <li>Andrei Toșu</li>
        <li>Ingrid Axinte</li>
    </ul>
        <em>Prof. coordonator Andrei Craifaleanu</em>


    <h3>Animație</h3>
    <p>Proiectul constă în simularea mișcării unei mașini pe un plan înclinat, mișcare ce poate fi vizualizată sub forma unei animații 2D. </p>
    <p>Se pot schimba mai mulți parametrii ai mișcării, iar la sfârșitul animației (momentul în care mașina atinge solul) sunt afișate două grafice:</p>
    <ul>
        <li>Variația coordonatei <em>y</em> în timp</li>
        <li>Varianța unghiului <em>θ</em> în timp</li>        
    </ul>

    <h3>Detalii de implementare</h3>
    <p>Această aplicație simulează un spațiu vectorial în două dimensiuni, spațiu în care mașina este afectată de forțe (forța de accelerație, greutatea, forța normală, forța de frecare
        și forța de rezistență a aerului/apei).</p>
    <p>Verosimilitudinea animației demonstrează aplicabilitatea principiilor fizicii și matematicii în realizarea modelelor inginerești, apropiate de realitate.</p>
    
</div>

<% include ./footer %>