<div class="container">
    <small>
    <p>Proiect realizat de Alex Dumitru, Andrei Toșu si Ingrid Axinte. © 2016</p>
    <p>Prof. coordonator Andrei Craifaleanu. </p>
    </small>
</div>

</body>

</html>