doctype html  
html  
  head
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.css')
    script(src='javascripts/jquery-1.12.3.min.js')
    script(src='javascripts/bootstrap.js')
    script(src='javascripts/script.js', type='text/javascript')
    title title
  body
    block content